@import '~variables.scss';

:host{
    cursor: pointer;
    &>a{
        text-decoration:none;
    }
}


.content{
    @media screen and (min-width: $break-small) and (max-width: $break-card-row) {
        flex-direction: column-reverse !important;
    }
    align-items: center;
}

.imageplaceholder{
    @media screen and (min-width: $break-small) and (max-width: $break-card-row) {
        width: 180px;
    }
    @media screen and (max-width: $break-small){
        width: 320px;
    }        
    width: 349px;
    height: 319px;  
    flex-shrink: 0;      
    content: "E";
    background-color: $color-primary;
    color: $color-white;
    font-size: 200px;
    font-family: $lora-font;
    line-height: 319px;
    text-align: center;
}

.date{
    color: $color-secondary;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.14px;
    width: 100%;
    text-align: center;
}
