<div class="comment-header">
  <div class="comment-header-author">
      <app-avatar image="{{avatar}}" name="{{author}}"></app-avatar>
      <h1>{{author}}</h1>
  </div>
  <div class="comment-header-date">{{date}}</div>
</div>

<p class="comment-content">{{content}}</p>

<div class="comment-footer">
  <button class="comment-footer-reply">Reply</button>
  <hr>
</div>

<div class="comment-replies" *ngIf="replies">
    <app-comment *ngFor="let reply of replies"
      content="{{reply.content}}"
      author="{{reply.author}}"
      date="{{reply.date}}"
      avatar="{{reply.avatar}}"
      [replies]="reply.replies"
    ></app-comment>
</div>

