@import '~variables.scss';

:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.comment{
    &-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-author{
            display: flex;
            app-avatar{
                @include roundify(44);
                display: inline-block;
            }
            h1{
                display: inline;
                font-size: 18px;
                font-weight: 600;
                margin-left: 24px;
            }
        }

        &-date{
            font-size: 14px;
            color: $color-secondary;
        }
    }

    &-content{
        font-size: 16px;
        line-height: 30px;
        color: $color-secondary;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &-footer{
        display: flex;
        flex-direction: column;

        &-reply{
            align-self: flex-end;
            color: $color-primary;
            background-color: transparent !important;
            width: auto;

            &:hover{
                color: darken($color-primary, 20);
            }
        }

        hr{
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #dfdfdf;
            width: 100%;
            padding: 0;
        }
    }

    &-replies{
        margin-left: 28px;
        margin-top: 26px;
        border-left: 3px solid #dfdfdf;

        & app-comment{
            margin-left: 60px;

            &:first-child{
                margin-top: 20px;
            }

            &:last-child{
                margin-bottom: 4px;
            }
        }

        @media screen and (max-width: $break-medium){
            margin-left: 14px;
            & app-comment{
                margin-left: 20px;
            }            
        }
    }
}