@import '~variables.scss';

$header-height: 77px;

:host(.sticked){
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    position: fixed;
    background-color: white;
    z-index: 100;
    margin-top: 0px;
    top: 0px;
}

:host(.no-sticked){
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    position: fixed;
    background-color: white;
    z-index: 100;
    margin-top: 0px;
    top: - $header-height;
}

:host{
    @media screen and (max-width: $break-large){
        padding: 0 $side-margin-medium;
        width: calc(100% - 2*#{$side-margin-medium});                
    }
    @media screen and (max-width: $break-small){
        padding: 0 $side-margin-small;
        width: calc(100% - 2*#{$side-margin-small});
    }
    transition: top 0.2s ease-in-out;    
    width: calc(100% - 2*#{$side-margin});
    max-width: calc(#{$break-xxl} - 2*#{$side-margin});    
    margin-top: space-units(4);
    position: absolute;
    top:0px;
    padding: 0 $side-margin;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    app-hamburger-menu{
        display: none;
        @media screen and (max-width: $break-large){
            display: block;
        }
        margin-right: 18px;
    }

    .logo{
        @media screen and (max-width: $break-small){
            width: 51px;
            min-width: 51px;
            height: 48px;
        } 
        text-decoration: none !important;
        z-index:$depth-top;;       
        width: 81px;
        min-width: 81px;
        height: $header-height;
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h1{
            @media screen and (max-width: $break-small){
                font-size: 9px;
                font-weight: 400;
                line-height: 11px;
                margin-left: 9px;
            }             
            color: $color-white;
            font-family: $lora-font;
            font-size: 15px;
            font-weight: 400;
            line-height: 19px;
            margin-left: 12px;
        }
    }
    
    nav{
        @media screen and (max-width: $break-large){
            display: none;
        }

        display: flex;
        width: 460px;
        //justify-content: space-evenly; //space-evenly is not supported in lot of browsers
        justify-content: space-around;

        a{
            color: $color-secondary;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.84px;
            font-size: 11px;
            font-weight: 600;
            line-height: 22px;

            &:hover, &.active{
                color: $color-black;
            }

            &:hover:after, &.active:after {
                content: "";
                height: 2px;
                width: 12px;
                display: block;
                background: $color-black;;
                margin-top: -2px;
            }
            &:not(:last-of-type){
                //this is to simulate result of justify-content: space-evenly
                margin-right: -60px;
            }            
        }
    }

    .contact{
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
        button{
            z-index: 1;
            @media screen and (max-width: $break-small){
                width: 101px;
                height: 33px;
                font-size: 7px;
                font-weight: 700;
                line-height: 35px;
                text-transform: uppercase;
                letter-spacing: 1.4px;
            }            
        }
    }

    ::ng-deep app-hamburger-menu .hamburger.open > span{
        background-color: white !important;
    }
}