<app-hamburger-menu #menuBtn></app-hamburger-menu>
<a routerLink="/home" class="logo" ngx-scroll-to="hero-section">
  <h1>Enrique Oriol</h1>
</a>

<nav>
  <ng-container *ngIf="!pageNotFoundService.active">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <!-- <a routerLink="/books-and-courses" routerLinkActive="active">Books & Courses</a>
    <a routerLink="/jobs" routerLinkActive="active">Jobs</a>
    <a routerLink="/blog" routerLinkActive="active">Blog</a> -->
    <a routerLink="/home" ngx-scroll-to="books-and-courses" ngx-scroll-to-offset="120">Books & Courses</a>
    <!-- <a ngx-scroll-to="jobs" ngx-scroll-to-offset="120">Jobs</a> -->
    <a routerLink="/blog" routerLinkActive="active">Blog</a>
    <!-- <a routerLink="/home" ngx-scroll-to="blog" ngx-scroll-to-offset="120">Blog</a>     -->
  </ng-container>
</nav>

<div class="contact">
  <button ngx-scroll-to="contact">GET IN TOUCH</button>
</div>

<app-menu-mobile *ngIf="menuBtn.open" 
  @ngIfAnimation (onClose)="menuBtn.open = false;">
</app-menu-mobile>