<div class="subscribe-mobile">

    <ng-container *ngIf="!success">
        <h2 class="subscribe-mobile-title">Enter your email and never miss any content.</h2>

        <p class="subscribe-mobile-description">Never miss any content. I always try to provide the best content with useful information</p>
    
    
        <form #mailchimpForm="ngForm" (ngSubmit)="subscribe()" class="subscribe-mobile-form" name="subscribe-cta-form">
            
            <input #email="ngModel" email type="email" placeholder="email" name="email" [(ngModel)]="model.email">
            <input type="text" placeholder="name" name="name" [(ngModel)]="model.name" required>
    
            <div class="subscribe-cta-form-error">
                <div class="response" *ngIf="error" [innerHTML]="error"></div>
            </div>
    
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="whoareyou" tabindex="-1" value="" [(ngModel)]="botDetector">
            </div>
            <button type="submit" id="subscribe-cta-form-button" [disabled]="!email.valid || !model.name">Subscribe</button>
        </form>
    </ng-container>  

    <div *ngIf="success" class="subscribe-mobile-success">
        <h1>Por favor, confirma tu email</h1>
        <p>Se te ha enviado un email de confirmación. Por favor, haz click en el enlace del email para confirmar.</p>
        <p class="subscribe-mobile-success-warn">Ten en cuenta que el envio del email puede tardar varios minutos. Recuerda comprobar también la carpeta de spam.</p>
        <button routerLink="/home">Close</button>
    </div>

</div>