@import '~variables.scss';


.card-reviews{
    max-height: 620px;
    overflow-y: scroll;
    @media screen and (max-width: $break-card-row){
        max-height: 360px;
    }
    @media screen and (min-width: $break-card-row) {
        max-width: 380px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (max-width: $break-small - 1){
        width: 349px;
    }
    
    hr{
        margin-left: 30px;
        margin-right: 30px;
        border: 0;
        border-top: 1px solid $color-review-hr;

        &:last-of-type{
            display: none;
        }
    }
}

.content{
    margin-bottom:38px;
}

.type{
    color: $color-primary;
    font-size: 14px;
    letter-spacing: -0.15px;
}

.language{
    color: $color-secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    span{
        color: $color-primary;
    }
}


p{
    font-family: $open-sans-font;
    height: 69px;
    color: $color-secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 45px;
    margin-top:0px;
} 

footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button, .button{
    width: 92px;
    height: 36px;
    color: $color-white;
    font-size: 11px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.2px;        
}

.old_price{
    width: 47px;
    color: $color-card-old-price;
    font-size: 11px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 2.2px;
    text-decoration: line-through;
    margin-left: 20px;
    margin-right: 20px;
}

.reviews_btn{
    margin-left: auto;
    color: $color-review-btn;
    font-size: 13px;
    font-weight: 600;
    line-height: 31.5px;
    cursor: pointer;
}