<div class="card-content">
    <div class="image" [style.background-image]="'url(' + item.image + ')'"></div>

    <div class="content">
        <header>
            <div class="type">{{item.type}}</div>
            <div class="language">Language: <span>{{item.lang}}</span></div>
        </header>
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <footer>
            <a *ngIf="item.link" class="button" href="{{item.link}}" rel="noopener" target="_blank">{{item.price || 'free'}}</a>
            <button *ngIf="!item.link">{{item.price || 'free'}}</button>
            <span *ngIf="item.old_price" class="old_price">{{item.old_price}}</span>
            <span *ngIf="item.reviews.length" class="reviews_btn" (click)="onReviewsBtnClick()">See reviews</span>
        </footer>
    </div>
</div>

<div *ngIf="showReviews" @animateReviews class="card-reviews">
    <app-review *ngFor="let review of item.reviews" [review]="review">
    </app-review>
</div>
