@import '~variables.scss';

:host{
    z-index: 10;
    position: fixed;
    right: -90px;
    bottom: 250px;
    mix-blend-mode: difference;
    
    &:hover{
        mix-blend-mode: normal;
    }
}
:host(.white){
    mix-blend-mode: normal;
}
.subscribe-cta-button{
    transform: rotate(-90deg);
    background-color: transparent;
    height: auto;
    width: auto;
    padding: 0;
    padding-left: 80px;
    padding-right: 20px;
    background-color: $color-black;
    color: white;

    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4.25px;

    &:after{
        content: "";
        display: block;
        background: $color-white;
        height: 2px;
        position: absolute;
        left: 20px;
        top: 50%;
        width: 30px;
        transition: all ease-out 0.15s;
    }

    &:hover{
        color: $color-primary;
        &:after{
            background: $color-primary;
            left:40px;
        }
    }
}

.subscribe-cta-form-container{
    position: absolute;
    right: 100px;
    top: -40px;
    display: flex;
    width: 364px;
    height: 245px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.09);
    background-color: $color-white;
}