<app-action-button white mix-blend-support (click)="open = !open;">
    SUBSCRIBE TO MY LIST
</app-action-button>

<div *ngIf="open" class="subscribe-cta-form-container" @fadeInOut>
  <form *ngIf="!success" #mailchimpForm="ngForm" (ngSubmit)="subscribe()" id="subscribe-cta-form" name="subscribe-cta-form"><!--  target="_blank" novalidate -->
      <h2>Enter your email and never miss any content.</h2>
      <input #email="ngModel" email type="email" placeholder="email" name="email" [(ngModel)]="model.email" autocomplete="email">
      <input type="text" placeholder="name" name="name" [(ngModel)]="model.name" required autocomplete="name">

      <div class="subscribe-cta-form-error">
        <div class="response" *ngIf="error" [innerHTML]="error"></div>
      </div>

      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="whoareyou" tabindex="-1" value="" [(ngModel)]="botDetector" autocomplete="off">
      </div>
      <button type="submit" id="subscribe-cta-form-button" [disabled]="!email.valid || !model.name">Subscribe</button>
  </form>

  <div *ngIf="success" class="subscribe-cta-success">
    <h1>Por favor, confirma tu email</h1>
    <p>Se te ha enviado un email de confirmación. Por favor, haz click en el enlace del email para confirmar.</p>
    <p class="subscribe-cta-success-warn">Ten en cuenta que el envio del email puede tardar varios minutos. Recuerda comprobar también la carpeta de spam.</p>
    <button (click)="open = false;">Close</button>
  </div>

  <div class="subscribe-cta-form-close"  (click)="open = !open;"></div>
</div>