<button class="subscribe-cta-button" (click)="open = !open;">
  SUBSCRIBE TO MY LIST
</button>

<div *ngIf="open" class="subscribe-cta-form-container" @fadeInOut>
  <form action="https://enriqueoriol.us12.list-manage.com/subscribe/post?u=e922bf81d430ca3f5c07aea5f&amp;id=e0c0e39f1c" method="post"
    id="subscribe-cta-form" name="subscribe-cta-form" class="validate" target="_blank" novalidate>
      <h2>Enter your email and never miss any content.</h2>
        <input type="email" value="" placeholder="email" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="text" value="" placeholder="name" name="FNAME" class="" id="mce-FNAME">
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_e922bf81d430ca3f5c07aea5f_e0c0e39f1c" tabindex="-1" value="">
      </div>
      <div class="clear">
        <button type="submit" name="subscribe" id="subscribe-cta-form-button" class="button">Subscribe</button>
      </div>
  </form>
  <div class="subscribe-cta-form-close"  (click)="open = !open;"></div>
</div>