
<div class="contact-description">
  <h1>Become a Smarter Developer</h1>
  <p>Have some interesting project or maybe talk to give, drop me a line</p>
  <app-social-icons-bar></app-social-icons-bar>
</div>

<form action="" class="contact-form">
    <div class="name-email-group">
        <div>
            <label for="name">Your Name</label>
            <input type="text" name="name" placeholder="Full name"> 
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email">                            
        </div>
    </div>

    <div class="topic-group">
        <label for="topic">Topic</label>
        <select name="topic" placeholder="choose topic">
          <option *ngFor="let topic of topics" value="{{topic.key}}">{{topic.value}}</option>
        </select> 
    </div>


    <div class="message-group">
        <label for="message">Your Message</label>
        <textarea type="email" name="message" placeholder="Your message here..."></textarea>
    </div>


    <button>Send Message</button>

</form>