@import '~variables.scss';

:host ::ng-deep{

    .white-section{
        margin: 160px $side-margin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h1{
            color: $color-home-header;
            font-size: 12px;
            font-weight: 600;
            line-height: 37px;
            text-transform: uppercase;
            letter-spacing: 5.28px;
        }
    
        p{
            width: 691px;
            color: $color-black;
            font-family: $lora-font;
            font-size: 18px;
            font-weight: 400;
            line-height: 37px;
            text-align: center;
        }
    
        .highlights{
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 80px;
        }
        .highlights-item{
            color: $color-black;
            font-size: 38px;
            font-weight: 600;
            line-height: 37px;
            letter-spacing: -0.65px;
    
            &:after{
                content: "";
                display: block;
                height: 21px;
                background-color: $color-primary;
                opacity: 0.2;
                width: 130%;
                margin-left: -15%;
                margin-top: -17px;
            }
        }
    
        .anchor-link{
            margin-top: 116px;
            margin-bottom: 10px;
            &:after{
                width: 48px;
                margin-left: -78px;
            }
    
            &:hover:after{
                margin-left: -60px;
            }
        }    
    }

}
