@import '~variables.scss';

:host{
    display: block;
    background: white;
}

app-subscribe-cta{
    @media screen and (max-width: $break-medium){
        display: none;
    }
}

footer{
    @media screen and (max-width: $break-large){
        margin-left: 40px;
        margin-right: 40px;
    }
    @media screen and (max-width: $break-small){
        margin-left: 18px;
        margin-right: 18px;
        height: 115px;
    }    
    display: flex;
    flex-direction: column;
    height: 154px;
    margin-left: $side-margin;
    margin-right: $side-margin;
    margin-top:6px;

    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #dfdfdf;
        width: 100%;
        padding: 0;       
    }

    p{
        align-self: center;
        margin-top: auto;
        margin-bottom: auto;
        color: $color-footer-text;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;  
        letter-spacing: 0.1px;      
    }
}


