@import '~variables.scss';

header{
    margin-top: space-units(4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    .logo{
        width: 76px;
        min-width: 76px;
        height: 76px;
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h1{
            color: $color-white;
            font-family: $lora-font;
            font-size: 15px;
            font-weight: 400;
            line-height: 19px;
            margin-left: 12px;
        }
    }
    
    nav{
        display: flex;
        width: 460px;
        justify-content: space-evenly;

        a{
            color: $color-secondary-menu;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.84px;
            font-size: 11px;
            font-weight: 600;
            line-height: 22px;

            &:hover, &.active{
                color: $color-black;
            }

            &:hover:after, &.active:after {
                content: "";
                height: 2px;
                width: 12px;
                display: block;
                background: $color-black;;
                margin-top: -2px;
            }
        }
    }

    .contact{
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
        button{
            min-width: 172px;
            width: 172px;
            height: 43px;
            background-color: $color-primary;
            border: none;
            color: $color-white;
            font-size: 11px;
            font-weight: 600;
            line-height: 35px;
            letter-spacing: 2.2px;
            text-transform: uppercase;
            &:hover{
                background-color: darken($color-primary, 10%);
            }
            &:active{
                background-color: darken($color-primary, 20%);
            }
        }
    }

}

