@import '~variables.scss';

header{
    @media screen and (max-width: $break-large){
        margin: space-units(4) $side-margin-medium 0 $side-margin-medium;
        width: calc(100% - 2*#{$side-margin-medium});                
    }
    @media screen and (max-width: $break-small){
        margin: space-units(4) $side-margin-small 0 $side-margin-small;
        width: calc(100% - 2*#{$side-margin-small});
    }
    position: absolute;
    width: calc(100% - 2*#{$side-margin});
    margin: space-units(4) $side-margin 0 $side-margin;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    app-hamburger-menu{
        display: none;
        @media screen and (max-width: $break-large){
            display: block;
        }
        margin-right: 18px;
    }

    .logo{
        @media screen and (max-width: $break-small){
            width: 51px;
            min-width: 51px;
            height: 48px;
        }        
        width: 81px;
        min-width: 81px;
        height: 77px;
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h1{
            @media screen and (max-width: $break-small){
                font-size: 9px;
                font-weight: 400;
                line-height: 11px;
                margin-left: 9px;
            }             
            color: $color-white;
            font-family: $lora-font;
            font-size: 15px;
            font-weight: 400;
            line-height: 19px;
            margin-left: 12px;
        }
    }
    
    nav{
        @media screen and (max-width: $break-large){
            display: none;
        }

        display: flex;
        width: 460px;
        justify-content: space-evenly;

        a{
            color: $color-secondary-menu;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.84px;
            font-size: 11px;
            font-weight: 600;
            line-height: 22px;

            &:hover, &.active{
                color: $color-black;
            }

            &:hover:after, &.active:after {
                content: "";
                height: 2px;
                width: 12px;
                display: block;
                background: $color-black;;
                margin-top: -2px;
            }
        }
    }

    .contact{
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
        button{
            @media screen and (max-width: $break-small){
                width: 101px;
                height: 33px;
                font-size: 7px;
                font-weight: 700;
                line-height: 35px;
                text-transform: uppercase;
                letter-spacing: 1.4px;
            }            
        }
    }

}

footer{
    @media screen and (max-width: $break-large){
        margin-left: 40px;
        margin-right: 40px;
    }
    @media screen and (max-width: $break-small){
        margin-left: 18px;
        margin-right: 18px;
        height: 115px;
    }    
    display: flex;
    flex-direction: column;
    height: 154px;
    margin-left: $side-margin;
    margin-right: $side-margin;
    margin-top:6px;

    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #dfdfdf;
        width: 100%;
        padding: 0;       
    }

    p{
        align-self: center;
        margin-top: auto;
        margin-bottom: auto;
        color: #bababa;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;  
        letter-spacing: 0.1px;      
    }
}

.contact-section{
    @include base-section-content;
}

