@import '~variables.scss';
@import './prettify.skin.monokai.scss';

@mixin centered-text{
    width: 640px;
    margin: 0px auto;

}

.post{

    &-image{
        height: 486px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-no-image-spacer{
        height: 160px;
    }

    &-title{
        width: 705px;
        margin: 75px auto 50px auto;
        text-align: center;
        font-size: 52px;
        font-weight: 600;
        line-height: 71px;
        letter-spacing: -1.1px;
        color: $color-black;
    }

    &-date{
        color: $color-primary;
        margin: 0px auto 50px auto;
        text-align: center;
        font-size: 17px;
        font-family: $lora-font;
        font-weight: 400;
        letter-spacing: -0.3px;
    }

    &-tags{

    }

    &-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 170px;

        &-previous{
            margin-left: 50px;

            &:before{
                content: '<';
                position: absolute;
                left: -26px;
                color: $color-primary;
            }
        }
        &-next{
            align-items: flex-end;
            text-align: right;
            margin-right: 50px;
            &:after{
                content: '>';
                position: absolute;
                right: -26px;                
                color: $color-primary;
            }
        }

        &-link{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            color: inherit;
            h4{
                color: $color-primary;
                font-size: 12px;
                font-weight: 300;
                margin: 0;
                line-height: 20px;
            }
            h3{
                font-size: 17px;
                font-weight: 400;
                margin: 0;
            }

            &:hover{
                h3{
                    color: $color-primary;
                }
            }
        }

        &-comments-badge{
            color: $color-secondary;
            width: 280px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
    
            &-icon{
                width: 22px;
                height: 22px;
                background-image: url('/assets/icons/comment.png');
                background-size: contain;
                display: inline-block;
                margin-left: -15px;
                margin-right: 15px;
            }
        }
    }

    &-comments-separator{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #dfdfdf;
        width: 100%;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 80px;
    }    


    &-comment{
        max-width: 650px;
        margin: auto;
    }

    &-add-comment{
        width: 650px;
        margin: auto;   
        margin-top: 60px;     
    }

    &-content ::ng-deep{
        @include centered-text;

        &:not(.prettyprint){
            code{
                padding: 0.3em 1em;
                background-color: $color-post-code-bg;
                color: $color-black;
                font-size: 0.9em;
                font-family: inherit;
                font-weight: 400; 
            }         
            li code{
                padding: 0.1em 0.3em !important;
            }             
        }

        p{
            font-size: 16px !important;
            line-height: 30px;
            color: $color-secondary;
            font-weight: 300;
            margin-top: 0px;
            margin-bottom: 1.6em;
        }

        h1{
            margin-top: 4em;
            margin-bottom: 2em;
            font-size: 32px;
        }

        h2{
            margin-top: 4em;
            margin-bottom: 2em;
            font-size: 26px;
        }

        h3{
            margin-top: 3.8em;
            margin-bottom: 2em;
            font-size: 22px;
        }
        h4, h5, h6{
            margin-top: 3.8em;
            margin-bottom: 1.2em;
            font-size: 18px;
        }

        blockquote{
            width: 120%;
            margin-left: -10%;
            margin-top: 90px;
            margin-bottom: 110px;
            font-family: $lora-font;
            font-style: italic;    
            text-align: center;            

            &::before{
                content: '“';
                display: block;
                width: 100%;
                font-size: 85px;
                line-height: 32px;
                color: lighten($color-secondary, 25);            
            }
            p{
                color: lighten($color-black, 5);
                font-size: 1.2em !important;
                line-height: 2em;
            }
        }


        pre{
            margin-top: -10px;
            margin-bottom: 60px;
            & + h1, & + h2 , & + h3, & + h4, & + h5, & + h6{
                margin-top:6em;
            } 
        }
        
        ol, ul{
            padding-left: 60px;
            color: darken($color-secondary, 30);
            margin-bottom: 1.8em;
            margin-bottom: 3em;
            ol, ul{
                padding-left: 20px;

                li{
                    margin-bottom: 0.9em;
                    &:first-child{
                        margin-top: 0.9em;
                    }
                }
            }
        }

        li{
            font-weight: 400;
            padding-left: 15px;
            margin-bottom: 1.6em;
            line-height: 24px;
            p{
                font-weight: 400;
                color: darken($color-secondary, 30);
                margin-bottom: 0px;
            }

            ol, ul{
                margin-bottom: 0.2em;
            }
        }

        img{
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 60px;
            margin-bottom: 60px;

        }

        @import './banner-course.scss';
    }

    @media screen and (max-width: $break-xtra-large){
        &-image{
            height: 380px;
        }
    }

    @media screen and (max-width: $break-medium) {
        &-content ::ng-deep{
            width: 540px;
            blockquote{
                width: 100%;
                margin-left: 0px;
            }
            img{
                max-width: 100%;
                margin-left: 0px;
                transform: none;
            }
        }
        &-title{
            width: 550px;
        }
        &-image{
            height: 280px;
        }

        &-comment, &-add-comment{
            width: 540px;
        }
    }
    
    @media screen and (max-width: $break-small) {
        &-content ::ng-deep{
            width: 85%;   
        }
        &-title{
            width: 90%;
            font-size: 34px;
            line-height: 50px;
            margin-top: 52px;
            margin-bottom: 15px;
        }
        &-image{
            height: 240px;
        }

        &-comment, &-add-comment{
            width: 85%;
        }
    }    
}

app-spinner{
    width: 100%;
    height: calc(100vh - 286px);
    position: relative;
}
