<ng-container *ngIf="post">
  <div class="post-image" *ngIf="post.image" [style.background-image]="'url(' + post.image + ')'"></div>
  <div class="post-no-image-spacer" *ngIf="!post.image"></div>

  <h1 class="post-title" [innerHTML]="post.title"></h1>
  <div class="post-date">{{post.date | date:'longDate':'es-ES' }}</div>

  <div class="post-tags"></div>

  <div class="post-content" [innerHTML]="post.content"></div>


  <div class="post-footer">

    <a left *ngIf="post.previous" routerLink="/{{post.previous.path}}" class="post-footer-link" >
      <h4>PREVIOUS ARTICLE</h4>
      <h3>{{post.previous.title}}</h3>
    </a>
    <div left *ngIf="!post.previous" class="post-footer-no-link">
      No older articles available
    </div>

    <div class="post-footer-comments-badge" *ngIf="comments">
        <span class="post-footer-comments-badge-icon"></span>
        {{comments.length}} comments
      </div>

    <a right *ngIf="post.next" routerLink="/{{post.next.path}}" class="post-footer-link">
        <h4>NEXT ARTICLE</h4>
        <h3>{{post.next.title}}</h3>
    </a>
    <div right *ngIf="!post.next" class="post-footer-no-link">
      No newer articles available
    </div>

  </div>

  <hr class="post-comments-separator">
  
  <app-comment class="post-comment" *ngFor="let comment of comments"
    content="{{comment.content}}"
    author="{{comment.author}}"
    date="{{comment.date}}"
    avatar="{{comment.avatar}}"
    [replies]="comment.replies"
    >
  </app-comment>

  <app-add-comment class="post-add-comment" #commentForm (onSubmit)="postComment($event)"></app-add-comment>


</ng-container>

<app-spinner *ngIf="!post"></app-spinner>

