<ng-container *ngIf="post">
  <div class="post-image" *ngIf="post.image" [style.background-image]="'url(' + post.image + ')'"></div>
  <div class="post-no-image-spacer" *ngIf="!post.image"></div>

  <h1 class="post-title" [innerHTML]="post.title"></h1>
  <div class="post-date">{{post.date | date:'longDate':'es-ES' }}</div>

  <div class="post-tags"></div>

  <div class="post-content" [innerHTML]="post.content"></div>

  <div class="post-comments-no">
    <span class="post-comments-no-icon"></span>
    {{post.comments.length}} comments
  </div>
  <hr class="post-comment-separation">

  <app-comment *ngFor="let comment of post.comments"
    content="{{comment.content}}"
    author="{{comment.author}}"
    date="{{comment.date}}"
    avatar="{{comment.avatar}}"
    [replies]="comment.replies"
    >
  </app-comment>


</ng-container>

<app-spinner *ngIf="!post"></app-spinner>

