<div class="menu-mobile" @fadeSlideInOut>

  <div class="menu-mobile-header">
      <app-action-button white right routerLink="/subscribe" (click)="close()">
          SUBSCRIBE TO MY LIST
      </app-action-button>
  </div>

  <div class="menu-mobile-content">
    <h1 @fadeInOut>
    Menu
    </h1>
    
    <nav>
      <a @fadeInOut routerLink="/home" routerLinkActive="active" (click)="close()">
        <h1>01</h1>
        <h2>Home</h2>
      </a>
      <!-- <a @fadeInOut routerLink="/books-and-courses" routerLinkActive="active" (click)="close()"> -->
        <a @fadeInOut routerLink="/home" ngx-scroll-to="books-and-courses" (click)="close()">
        <h1>02</h1>
        <h2>Books & Courses</h2>
      </a>
      <!-- <a @fadeInOut routerLink="/jobs" routerLinkActive="active" (click)="close()"> -->
        <!-- <a @fadeInOut ngx-scroll-to="jobs" (click)="close()">
        <h1>03</h1>
        <h2>Jobs</h2>
      </a> -->
      <!-- <a @fadeInOut routerLink="/blog" routerLinkActive="active" (click)="close()"> -->
      <a @fadeInOut routerLink="/home" ngx-scroll-to="blog" (click)="close()">
        <h1>03</h1>
        <h2>Blog</h2>    
      </a>
    </nav>    
  </div>
  
  <div @fadeInOut class="menu-mobile-footer">
    <app-social-icons-bar></app-social-icons-bar>  
    <button (click)="close()" ngx-scroll-to="contact">GET IN TOUCH</button>
  </div>
</div>