<div class="menu-mobile" @fadeSlideInOut>

  <div class="menu-mobile-header">
      <app-action-button white right routerLink="/subscribe" (click)="close()">
          SUBSCRIBE TO MY LIST
      </app-action-button>
  </div>

  <div class="menu-mobile-content">
    <h1 @fadeInOut>
    Menu
    </h1>
    
    <nav>
      <a @fadeInOut routerLink="/home" ngx-scroll-to="hero-section" routerLinkActive="active" (click)="close()">
        <h1>01</h1>
        <h2>Home</h2>
      </a>
      <a @fadeInOut routerLink="/home" ngx-scroll-to="about" (click)="close()">
        <h1>02</h1>
        <h2>About</h2>
      </a>      
        <a @fadeInOut routerLink="/home" ngx-scroll-to="books-and-courses" (click)="close()">
        <h1>03</h1>
        <h2>Books & Courses</h2>
      </a>
      <a @fadeInOut routerLink="/blog" routerLinkActive="active" (click)="close()">
        <h1>04</h1>
        <h2>Blog</h2>    
      </a>
    </nav>    
  </div>
  
  <div @fadeInOut class="menu-mobile-footer">
    <app-social-icons-bar></app-social-icons-bar>  
    <button (click)="close()" routerLink="/home" ngx-scroll-to="contact">GET IN TOUCH</button>
  </div>
</div>