@import '~variables.scss';

:host{
    width: 100vw;
    height: 100vh;
    background-color: $color-home-background;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index:$depth-menu-mobile;

    text-align:center;
    
    h1{
        color:$color-home-h1;
        font-size: 10px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: 4.64px;
        margin-bottom: 18px;
    }
    h2{
        color:$color-home-h2;        
    }    

    a{
        text-decoration: none;
        &:active>*, &:hover>*{
            color:$color-primary !important;
        }
    }

    nav{
        h1{
            letter-spacing: 5.8px;
            line-height: 16px;
            margin-bottom:0px;
        }
        h2{
            margin-top: 10px;
            margin-bottom:30px;
            font-size:23px;
            font-weight: 500;
            line-height: 17px;
        }
    }

    button{
        margin-top:42px;
        margin-bottom: 50px;
        width:101px;
        height: 33px;

        font-size: 8px;
        font-weight: 700;
        line-height: 35px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
    }

    .social-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        max-width: 280px;
        margin-top:54px;

        svg:hover path{
            fill: $color-primary;
            stroke: $color-primary;
        }
    }
}