/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:400,400i,600,600i,700');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500');

@import '~variables.scss';

body{
    position: relative;
    margin: 0px !important;
    font-family: $open-sans-font;

    *:focus{
        outline-color: #cccccc !important;
    }
}

@media all and (min-width:1760px){
    body{
        max-width: 1760px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}


button{
    height: 43px;
    background-color: $color-primary;
    border: none;
    color: $color-white;
    font-size: 11px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    &:hover{
        background-color: $color-button-hover;
    }
    &:active{
        background-color: darken($color-button-hover, 10%);
    }
    cursor: pointer;
}

a{
    color: $color-primary;
    &:hover{
        color: $color-link-hover;
    }

    &.button{
        text-decoration: none;
        text-align: center;
        background-color: $color-primary;
        border: none;
        color: $color-white;
        height: 43px;
        font-size: 11px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 2.2px;
        text-transform: uppercase;
        &:hover{
            background-color: $color-button-hover;
        }
        &:active{
            background-color: darken($color-button-hover, 10%);
        }
        cursor: pointer;        
    }
}

input{
    height: 46px;
    padding-left: 23px;
    padding-right: 23px; 
    box-sizing: border-box;   
    border: 1px solid $color-contact-borders;
    background-color: $color-white;
    color: $color-input-text;
    &::placeholder{
        color: $color-input-text;
    }

    &.ng-invalid{
        text-align: right;
        border: 1px solid $color-primary;
        &::placeholder{
            color: $color-primary;
        }
    }
}

select{
    border: 1px solid $color-contact-borders;
    background-color: $color-white;
    color: $color-input-text;
} 

textarea{
    box-sizing: border-box;
    border: 1px solid $color-contact-borders;
    resize: none;
    padding: 23px;
    color: $color-input-text;
    &::placeholder{
        color: $color-input-text;
    }
}

.card{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 349px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
    background-color: $color-white;    

    &:hover{
        box-shadow: 0 10px 35px rgba(0, 0, 0, 0.19);
    }

    .content{
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 70px;
        overflow: hidden;
    }

    header{
        display: flex;
        justify-content: space-between;
        margin-top: 26px;
        margin-bottom: 16px;
    }

    .image{
        width: 349px;
        height: 319px;
        background-position: center;
        background-size: cover;
        flex-shrink: 0;
    }
    
    h1, h2{
        color: $color-black;
        font-weight: 600;
        line-height: 34px;
        margin-top: 0px;
    }
    
    h1{
        font-size: 21px;
        letter-spacing: -0.21px;
        margin-bottom: 0px;
    }

    h2{
        font-size: 18px;
        letter-spacing: -0.25px;
        margin-bottom: 16px;
    }
}
