/* fonts */
$open-sans-font: 'Open Sans', sans-serif;  
$lora-font: 'Lora', sans-serif;  
//$montserrat-font: 'Montserrat', sans-serif;  


/* colors */
$color-black: #080808;
$color-white: #ffffff;
$color-primary: #ff3535;
$color-secondary: #949292;

$color-home-paragraph: #716767;

$color-post-code-bg: #f8f8f8;

$color-menu-mobile-background: black;
$color-menu-mobile-h2: #fefefe;
$color-menu-mobile-h1: #5d5a5a;

$color-input-border: #413e3e;
$color-card-old-price: #bdadad;
$color-review-btn: #282626;

$color-button-hover: #ec0606;
$color-link-hover: #080808;
$color-social-hover: $color-primary;

$color-contact-borders: #bab4b4;
$color-footer-text: #bababa;
$color-review-hr: #dfdfdf;


/* depth*/

$depth-top:5;
$depth-menu-mobile:2;
$depth-regular:1;


/* spacing */
$spacing-base: 10px;
@function space-units($factor){
    @return $spacing-base * $factor;
}
$side-margin: space-units(9);
$side-margin-medium: space-units(4);
$side-margin-small: 4.5vw;
$side-margin-xtra-small: 47px;


/* media */
$break-small: 600px;
$break-medium: 780px;
$break-large: 1060px;
$break-xtra-large: 1440px;
$break-xxl: 1760px;

$break-card-row: 900px;

/* mixins */
@mixin base-section-content{
    @media screen and (max-width: $break-large){
        margin: 135px $side-margin-medium;    
    }
    @media screen and (max-width: $break-medium) {
        margin: 77px 2*$side-margin-small;
    }
    @media screen and (max-width: $break-small) {
        margin: 60px $side-margin-xtra-small;
    }
    position: relative;
    margin: 160px $side-margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

@mixin roundify($diameter){
    height: $diameter+px;
    width: $diameter+px;
    min-width: $diameter+px;
    border-radius: $diameter/2+px;
    overflow: hidden;    
}

