<article>
  <section id="hero">
    <div class="detail">
        <h1>I'm Enrique.</h1>
        <p>CTO at Narada Robotics. Back&frontend SW engineer focused on 3D and mobile development. Angular & Ionic evangelist.</p>
        <a class="anchor-link">check my blog</a>
    </div>    
    <div class="picture">
    </div>
  </section>

  <section id="about"></section>
  <section id="subscribe"></section>
  <section id="books-and-courses"></section>
  <section id="trainning"></section>
  <section #blog id="blog">blog</section>
  <section id="talks"></section>
  <section id="jobs"></section>
  <section id="contacts"></section>
</article>
