<article>
  <section id="hero">
    <div class="detail">
        <h1>I'm Enrique.</h1>
        <p>CTO at Narada Robotics. Back&frontend SW engineer focused on 3D and mobile development. Angular & Ionic evangelist.</p>
        <a class="anchor-link">check my blog</a>
    </div>    
    <div class="picture">
    </div>
  </section>

  <section class="white-section" id="about">
    <h1>About me</h1>
    <p class="text-description">Soy Ingeniero de Software y CTO en Narada Robotics, una startup de Barcelona que combina su pasión por los modelos 3D, con la consultoría tecnológica en proyectos mobile, incluyendo backend, frontend y aplicaciones híbridas y nativas. También soy un apasionado de Angular, Ionic y las PWA.</p>
    <div class="highlights">
      <div class="highlights-item">Speaker</div>
      <div class="highlights-item">Writer</div>
      <div class="highlights-item">Developer</div>
    </div>
    <a class="anchor-link">check my courses</a>
  </section>

  <section id="subscribe"></section>
  <section id="books-and-courses"></section>
  <section id="trainning"></section>
  <section #blog id="blog">blog</section>
  <section id="talks"></section>
  <section id="jobs"></section>
  <section id="contacts"></section>
</article>
