@import '~variables.scss';


app-subscribe-cta{
    @media screen and (max-width: $break-medium){
        display: none;
    }
}

.anchor-link{
    @media screen and (max-width:$break-small) {
        font-size: 11px;
        letter-spacing: 1.61px;
    }
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.3px;

    &:after{
        content: "";
        display: block;
        background: $color-black;
        height: 2px;
        margin-top: -18px;
        transition: all ease-out 0.15s;
    }
}

#hero-section{
    display: flex;
    @media screen and (max-width: $break-small){
        margin-left: 12vw;
        margin-right: 12vw;
        height: auto;
    }

    .detail{
        @media screen and (max-width: $break-small){
            margin-left: 0;
            margin-right: 0;
            justify-content: flex-start;
            margin-top: 120px;
        }
        margin-left: $side-margin;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1; 

        .detail-name{
            @media screen and (max-width: $break-small){
                margin-left: -5vw;
                margin-right: -5vw;
            }
            position: relative;
            margin-bottom: 40px;

            h1{
                color: $color-black;
                font-size: 89px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 20px;
                letter-spacing: -5px;
                @media screen and (max-width: $break-small){ 
                    position: absolute;
                    bottom:0px;
                    left: 19px;
                    margin-bottom: 0px;  
                    font-size: 9.5vw;
                    line-height: 20vw;
                    color: white;
                    letter-spacing: -0.97px;                  
                }
                @media screen and (min-width: $break-small) and (max-width: $break-large){
                    font-size: 9vw;
                }               
            }

            .small-picture{
                @media screen and (max-width: $break-small){
                    height: calc(90vw *1.1);
                    background-position-x: center;
                    background-size: cover;
                }                 
            }           
        }

        p{
            @media screen and (max-width: $break-small){
                font-size: 13px;
                line-height: 24px;
                margin-bottom: 26px;
            }
            font-family: $lora-font;
            color: $color-home-paragraph;

            max-width: 414px;
            //height: 87px;
            margin-top: 0px;
            margin-bottom: 80px;
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
        }

        .anchor-link{
            @media screen and (max-width: $break-small){
                padding-left: 48px;
                position: relative;
            }
            &:after{
                @media screen and (max-width: $break-small){
                    width: 23px;
                }
                width: 44px;
                position: absolute;
                left: 0;
            }

            &:hover:after{
                @media screen and (max-width: $break-small){
                    left: 20px;
                }
                left:40px;
            }
        }
    }

    .picture{
        flex:1;
        background-position-x: center;
        background-size: cover;
        max-width: 750px;
        min-height: 750px;
        max-height: 1000px;
        height: 100vh;
        @media screen and (max-width: $break-small){
            display: none;
        }        
    } 
}

#books-and-courses-section, #blog-section{
    .anchor-link{
        position: absolute;
        top: 12px;
        right: 0px;
        margin: 0px;
    }

    @media screen and (max-width: $break-small) {
        margin-bottom: 158px;

        .anchor-link{
            top: unset;
            right: unset;
            bottom: -62px;
        }
    }
}

.black-section ::ng-deep{
    @media screen and (max-width: $break-large){
        padding: 135px $side-margin-medium;    
    }
    @media screen and (max-width: $break-medium) {
        padding: 77px 2*$side-margin-small;
    }
    @media screen and (max-width: $break-small) {
        padding: 77px $side-margin-xtra-small;
    }    
    padding: 135px $side-margin;
    background-color: $color-black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    div{
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $break-medium){
            flex-grow: 1;
            align-items: center;
            &:first-of-type{
                margin-bottom: 50px;
            }
        }
    }

    h1{
        @media screen and (max-width: $break-medium){
            width: auto;
            text-align: center;
        }
        width: 400px;
        color: $color-white;
        font-family: $lora-font;
        font-size: 26px;
        font-weight: 400;
        line-height: 43.5px;
        letter-spacing: -0.45px;
        margin-top: 0px;
        margin-bottom: 16px;
        font-weight: 400;
    }

    p{
        @media screen and (max-width: $break-medium){
            width: auto;
            text-align: center;
        }       
        margin-top:0px;
        margin-bottom:0px;
        width: 440px;
        color: $color-home-black-section-paragraph;
        font-size: 15px;
        font-weight: 400;
        line-height: 29.5px;
    }  

    button{
         @media screen and (max-width: $break-medium){
             align-self: center;
        }         
        align-self: flex-end;
    }

    input{
        border: 1px solid $color-input-border;
        background-color: $color-black;
        color: $color-input-text;
        font-size: 11px;
        font-weight: 400;
        line-height: 36px;

        &::placeholder{
            color: $color-input-text;
        }
    }     

} 

.white-section{
    @include base-section-content;

    &>h1{
        @media screen and (max-width:$break-small){
            font-size: 10px;
            letter-spacing: 4.3px;
        }        
        color: $color-home-header;
        font-size: 12px;
        font-weight: 600;
        line-height: 37px;
        text-transform: uppercase;
        letter-spacing: 5.28px;
    }

    &>p{
        @media screen and (max-width:$break-small){
            font-size: 14px;
            line-height: 24px;
        }
        max-width: 691px;
        color: $color-black;
        font-family: $lora-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 37px;
        text-align: center;
    }

    .highlights{
        @media screen and (max-width: $break-small){
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
            min-width: auto;
        }
        display: flex;
        justify-content: space-around;
        width: 100%;
        min-width: 500px;
        margin-top: 80px;

        &-item{
            @media screen and (max-width: $break-large){
                font-size: 28px;
            }            
            @media screen and (max-width: $break-small){
                margin-bottom: 52px;
            }
            &:last-of-type{
                margin-bottom: 0px;
            }
            color: $color-black;
            font-size: 38px;
            font-weight: 600;
            line-height: 37px;
            letter-spacing: -0.65px;
    
            &:after{
                content: "";
                display: block;
                height: 21px;
                background-color: $color-primary;
                opacity: 0.2;
                width: 130%;
                margin-left: -15%;
                margin-top: -17px;
            }
        }
    }

    .anchor-link{
        @media screen and (max-width: $break-small){
            margin-top: 75px;
        }
        margin-top: 116px;
        margin-bottom: 10px;
        &:after{
            @media screen and (max-width: $break-small){
                width: 23px;
                margin-left: -43px;
            }
            width: 48px;
            margin-left: -78px;
        }

        &:hover:after{
            @media screen and (max-width: $break-small){
                margin-left: -28px;
            }
            margin-left: -60px;
        }
    }
    
    .cards{
        display: flex;
        width: 100%;
        justify-content: space-around;//in case space-evenly is not supported
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media screen and (max-width: $break-xtra-large){
            //show only an even number of items when 3 items per row do not fit
            &>:last-child:nth-child(odd){        
                display: none;
            } 
        }

        .card{
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}


