<div class="sub-header">
    <div class="sub-header-text">
        <h1>Blog Articles</h1>
        <app-search-box></app-search-box>
    </div>
    <hr>
</div>

<app-spinner *ngIf="!postsList"></app-spinner>
<div class="empty-message" *ngIf="postsList && !postsList.length">
    <p>No items found :(</p>
</div>

<div class="cards" 
    infiniteScroll
    [infiniteScrollDistance]="3"
    [infiniteScrollThrottle]="50"
    (scrolled)="getMoreItems()">
    <app-blog-card *ngFor="let item of postsList" [item]="item">
    </app-blog-card>
</div>