@import '~variables.scss';

:host{
    width: calc(100% - 2*90px);
    max-width: calc(1760px - 2*90px);
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $break-small){
        width: 100%;        
    }
}

.sub-header{
    padding-top: 190px;

    @media screen and (max-width: $break-small){
        padding: 0 $side-margin-small;
        padding-left: calc(4.5vw + 32px);        
        padding-top: 128px;
        h1{
            font-size: 1.6em;
        }
        app-search-box ::ng-deep{
            overflow-x: hidden;
            margin-left: 20px;
            input{
                font-size: 20px;
            }
        }
    }    

    &-text{
        display: flex;
        align-items: baseline;
    }

    h1{
        margin: 0;
        padding-bottom: 34px;
        font-weight: 600;
        display: inline-block;
        flex-shrink: 0;
    }

    hr{
        position: absolute;
        left: 0;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #dfdfdf;
        width: 100%;
        padding: 0;
    }
    
}

.cards{
    display: flex;
    width: 100%; 
    justify-content: space-around; 

    flex-wrap: wrap;

    .card{
        margin-left: 15px;
        margin-right: 15px;
    }
}

app-spinner{
    width: 100%;
    height: calc(100vh - 286px);
    position: relative;
}

.empty-message, .end-message{
    color: $color-secondary;
    width: 100%;
    height: calc(100vh - 286px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        text-align: center;
    }    

}